SetEnv DEFAULT_PHP_VERSION 5
SetEnv APPLICATION_ENVIRONMENT 'local'
ExpiresActive On
ExpiresDefault A259200

RewriteEngine on
php_value upload_max_filesize 20M
php_value post_max_size 20M
php_value max_execution_time 200
php_value max_input_time 200

RewriteRule ^www(.*)$ - [L]
RewriteRule ^search$ index.php?rt=/search/result&id=$1 [L,QSA]
RewriteRule ^(.+\/rss)$ index.php?rt=$1 [L,QSA]

RewriteRule ^(.*)$ index.php?rt=$1 [QSA]
RewriteRule !\.(swf|js|ico|txt|gif|jpg|png|css|xml|html|htm|htc|cgi)$ index.php

<FilesMatch "\.(ico|gif|jpg|jpeg|png|flv|pdf|swf|mov|mp3|wmv|ppt)$">
  ExpiresDefault A604800
  Header append Cache-Control "public"
</FilesMatch>

<FilesMatch "\.xml$">
  ExpiresDefault A3600
  Header append Cache-Control "private, max-age=7200"
</FilesMatch>

<FilesMatch "\.js$">
  Header append Cache-Control "private, max-age=3600"
</FilesMatch>

<FilesMatch "\.(css|php)$">
  ExpiresDefault A0
  Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
  Header set Pragma "no-cache"
</FilesMatch>