<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>Link List Demo</title>

    <script src="../_platform/platform.js"></script>
    <link rel="import" href="links.html">
    <style>
        p {
            font-weight: bold
        }
    </style>

</head>
<body unresolved>

<p>Examples of link list polymer web component</p>

<image-links axis="horizontal" data="social"></image-links>

<image-links axis="vertical" data="tech"></image-links>

<image-links axis="column" data="tech"></image-links>

</body>
</html>
