<link rel="import" href="../components/polymer/polymer.html">
<link rel="import" href="../components/core-ajax/core-ajax.html">

<!--
Element providing a list of image based links with optional description.

##### Example

    <image-links></image-links>

@element links-list
@status alpha
@homepage http://alexbowen.github.io/image-links
-->
<polymer-element name="image-links" attributes="axis data width">

    <template>

        <link rel="stylesheet" href="links.css"/>

        <core-ajax id="ajax"
                   auto
                   url="../data/{{data}}.json"
                   on-core-response="{{linksLoaded}}"
                   handleAs="json">
        </core-ajax>

        <content></content>

        <ul class="{{axis}}" style="width:{{width}}">
            <template repeat="{{link in links | sort}}">
                <li>
                    <a class="{{link.name}}" alt="{{link.name}}" href="{{link.url}}"></a>
                    <div>
                        <h4 class="{{ {hidden : axis === 'horizontal'} | tokenList }}">{{link.title}}</h4>
                        <p>{{link.description}}<a class="{{ {hidden : axis === 'horizontal'} | tokenList }}" href="{{link.url}}">read more</a></p>
                    </div>
                </li>
            </template>
        </ul>

    </template>

    <script>

        Polymer('image-links', {
            /**
             * @property links
             * @type Array
             */
            links: [],

            linksLoaded: function () {
                this.links = this.$.ajax.response.data;
            },

            sort: function(items) {
                items.sort(function (a, b) {
                    var titleA = a.title.toLowerCase(), titleB = b.title.toLowerCase();
                    if (titleA < titleB)  return -1;
                    if (titleA > titleB) return 1;
                    return 0;
                });
                return items;
            }
        });

    </script>

</polymer-element>
