:host {
  display: block;
  color: red;
}

p {color:red}

ul {
    width: 376px;
    margin: 0 auto;
    padding: 0;
}

li {
    display:inline;
    margin:0 4px;
    padding:0
}

li a {
    height:64px;
    width:64px;
    display:inline-block
}

.github {
    background : url('social.png') no-repeat 0 0;
}

.linked {
    background : url('social.png') no-repeat -64px 0;
}

.stack {
    background : url('social.png') no-repeat -128px 0;
}

.gplus {
    background : url('social.png') no-repeat -192px 0;
}

.twitter {
    background : url('social.png') no-repeat -256px 0;
}
