<!-- Begin page content -->
<div class="divider" id="section1"></div>

<div class="container">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="page-header text-center">
            <h1>Since 1972</h1>
        </div>

        <p class="lead text-center">Funk evangelist and Front end web engineer based in London.</p>

        <hr>

    </div>
</div>

<div class="divider"></div>

<section class="bg-1">
    <div class="col-sm-6 col-sm-offset-3 text-center"></div>
</section>

<div class="divider" id="section2"></div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h1>Profile</h1>

        <hr>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac dapibus justo, eget adipiscing augue. Maecenas fringilla dolor ac justo cursus accumsan. Sed sed dui vel neque faucibus dapibus. Sed purus ligula, fringilla ac velit vel, dapibus elementum tellus. Vestibulum ac tortor eu ligula mollis viverra quis in felis. Proin mollis et neque eget placerat. Curabitur nec ligula eu dui consequat consequat. Aenean ac nulla dictum, sollicitudin nisl nec, tristique purus. Mauris vitae leo id augue sagittis consequat. Maecenas iaculis lorem eget nisi rutrum tempor eget nec tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent auctor ut enim ac euismod.</p>

        <p>Sed dapibus ullamcorper iaculis. Nullam ut odio sed sem pharetra bibendum hendrerit interdum mi. In eget volutpat est, quis luctus mi. Nam auctor eu est sit amet viverra. Fusce volutpat, elit sed rutrum tempor, tortor mi varius sem, sit amet condimentum enim libero ut nulla. Nam venenatis euismod diam. Pellentesque elit sapien, lacinia id malesuada vitae, iaculis mattis tortor.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac dapibus justo, eget adipiscing augue. Maecenas fringilla dolor ac justo cursus accumsan. Sed sed dui vel neque faucibus dapibus. Sed purus ligula, fringilla ac velit vel, dapibus elementum tellus. Vestibulum ac tortor eu ligula mollis viverra quis in felis. Proin mollis et neque eget placerat. Curabitur nec ligula eu dui consequat consequat. Aenean ac nulla dictum, sollicitudin nisl nec, tristique purus. Mauris vitae leo id augue sagittis consequat. Maecenas iaculis lorem eget nisi rutrum tempor eget nec tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent auctor ut enim ac euismod.</p>

        <p>Sed dapibus ullamcorper iaculis. Nullam ut odio sed sem pharetra bibendum hendrerit interdum mi. In eget volutpat est, quis luctus mi. Nam auctor eu est sit amet viverra. Fusce volutpat, elit sed rutrum tempor, tortor mi varius sem, sit amet condimentum enim libero ut nulla. Nam venenatis euismod diam. Pellentesque elit sapien, lacinia id malesuada vitae, iaculis mattis tortor.</p>

        <hr>

        <div class="divider"></div>

        <h2>This website is built using</h2>

        <image-links axis="vertical" data="tech" width="100%"></image-links>

        <div class="divider"></div>

    </div><!--/col-->
</div><!--/container-->

<div class="divider"></div>

<section class="bg-3">
    <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Cool stuff</h2></div>
</section>

<div class="divider" id="section3"></div>

<div class="bg-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">

                <div class="panel panel-default">
                    <div class="panel-thumbnail"><a href="#" title="Disco"><img src="images/disco.jpg" class="img-responsive"></a></div>
                    <div class="panel-body">
                        <p>Disco</p>
                    </div>
                </div><!--/panel-->
            </div><!--/col-->

            <div class="col-sm-4">

                <div class="panel panel-default">
                    <div class="panel-thumbnail"><a href="#" title="Javascript"><img src="images/javascript.jpg" class="img-responsive"></a></div>
                    <div class="panel-body">
                        <p>Javascript</p>
                    </div>
                </div><!--/panel-->
            </div><!--/col-->

            <div class="col-sm-4">

                <div class="panel panel-default">
                    <div class="panel-thumbnail"><a href="#" title="Life"><img src="images/technics.jpg" class="img-responsive"></a></div>
                    <div class="panel-body">
                        <p>Life</p>
                    </div>
                </div><!--/panel-->

            </div><!--/col-->

            <div class="col-sm-4">

                <div class="panel panel-default">
                    <div class="panel-thumbnail"><a href="#" title="Soul"><img src="images/soul.jpg" class="img-responsive"></a></div>
                    <div class="panel-body">
                        <p>Soul</p>
                    </div>
                </div><!--/panel-->

            </div><!--/col-->

            <div class="col-sm-4">

                <div class="panel panel-default">
                    <div class="panel-thumbnail"><a href="#" title="AngularJS"><img src="images/angular.jpg" class="img-responsive"></a></div>
                    <div class="panel-body">
                        <p>AngularJS</p>
                    </div>
                </div><!--/panel-->

            </div><!--/col-->

            <div class="col-sm-4">

                <div class="panel panel-default">
                    <div class="panel-thumbnail"><a href="#" title="Jazz"><img src="images/jazz.jpg" class="img-responsive"></a></div>
                    <div class="panel-body">
                        <p>Jazz</p>
                    </div>
                </div><!--/panel-->

            </div><!--/col-->

        </div><!--/row-->
    </div><!--/container-->
</div>

<div class="divider" id="section4"></div>

<div class="row">
    <div class="col-md-8 col-md-offset-1">
    </div>
</div>

<div class="row">

    <div class="container">

        <image-links axis="horizontal" data="social" width="352px"></image-links>

    </div><!--/container-->

</div><!--/row-->

<div class="divider" id="section5"></div>

<div class="row">

    <hr>

    <div class="col-sm-9 col-sm-offset-2">

        <div class="row form-group">
            <div class="col-md-12">
                <h1>Contact Me</h1>
            </div>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="firstName" name="name" placeholder="Your Name">
            </div>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="organization" name="organization" placeholder="Company or Organization">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-5">
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="phone" placeholder="Phone">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-10">
                <textarea class="form-control" placeholder="Comments"></textarea>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-10">
                <button class="btn btn-default pull-right">Contact Me</button>
            </div>
        </div>

    </div>

</div><!--/row-->

</div><!--/wrap-->


<footer>
    <div class="container">
        <p class="text-muted">Copyright ©2014 Alex Bowen.</p>
    </div>
</footer>


